style.
    .head-icon {
        height: 128px;
        width: 128px;
    }
paper-menu
    div(*ngIf="!(hallId$ | async)")
        iron-icon.head-icon(icon="mdi:view-dashboard")
    div(*ngIf="hallId$ | async")
        iron-icon.head-icon(icon="mdi:home")
        span {{(hall$ | async)?.name}}
    paper-item([routerLink]="['/dashboard']") Dashboard
    paper-item([routerLink]="['/halls']", *ngIf="!(hallId$ | async)") Halls
    paper-item([routerLink]="['/halls', (hallId$ | async), 'audio']", *ngIf="hallId$ | async") Audio
    paper-item([routerLink]="['/halls', (hallId$ | async), 'settings']", *ngIf="hallId$ | async") Settings