style.
    :host {
        @apply(--layout-flex);
        @apply(--layout-vertical);
    }
    .drawer-container {
        @apply(--shadow-elevation-8dp)
    }
    .paper-header-panel {
        @apply(--layout-vertical);
    }
    .mainContent {
        @apply(--layout-vertical);
        @apply(--layout-flex);
    }
paper-drawer-panel([forceNarrow]="!(isLoggedIn$ | async)")
    div.drawer-container(drawer, [hidden]="!(isLoggedIn$ | async)")
        main-sidenav
    paper-header-panel.flex.layout.vertical(main)
        paper-toolbar([hidden]="!(isLoggedIn$ | async)")
            paper-icon-button(icon="mdi:menu", paper-drawer-toggle)
            div.title Title
            span.flex
            paper-button((click)="logout()") Logout
        div.flex.layout.vertical.content.fit
            router-outlet.flex.layout.vertical