style.
    .card-content {
        @apply(--layout-vertical);
    }
    paper-card {
        margin: 8px;
        @apply(--layout-flex-3);
    }

h1 Hall list
div
    paper-card([heading]="hall.name", *ngFor="let hall of halls$ | async")
        div.card-content
            span
                strong Adress:
                | {{hall.address}}
            span
                strong Adress2:
                | {{hall.address2}}
            span
                strong City:
                | {{hall.city}}
            span
                strong Zip Code:
                | {{hall.zipCode}}
        div.card-actions
            paper-button([routerLink]="['/halls', hall.id]") Open
add-hall([opened]="addHallOpened$ | async", (open)="modalOpen()", (close)="modalClose($event)", [model]="addHallModel$ | async", (modelChange)="modelChange($event)")